* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home,
.services,
.reports,
.contact,
.events,
.support {
    display: flex;
    margin-left: 260px;
    font-size: 2rem;
}

form.d-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 274px ;
}


.form-control_me-2 {
    margin-right: 6px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

.btn-btn-outline-success {
    background-color: #28a745;
    border: 1px solid #28a745;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 13px;
    font-size: 16px;
}

.btn-btn-outline-success:hover {
    background-color: #218838;
    border-color: #761e7e;
}

.btn-btn-outline-success:active {
    background-color: #1e7e34;
    border-color: #1c7430;
}
.add_btn-mt-2 {
    text-align: right;
    padding: 98px 261px;
}
.btn-btn-primary {
    margin-right: -90px;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        font-size: 16px;
        background-color: #1e7e34;
        color: #ffffff;
        font-weight: 600;
        margin-top: 81px;
    }

.table {
width: 50%;
    border-collapse: collapse;
    margin-top: 154px;
    margin-right: 94px;
}


.table th,
.table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #1e7e34;
    color: #ffffff
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.buttons{
    justify-content: space-between;
    display: flex;
}

.success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
}

.success:hover {
    background-color: #218838;
}
.success:active {
    background-color: #1e7e34;
}

.primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
}

.primary:hover {
    background-color: #0056b3;
}

.primary:active {
    background-color: #004bb3;
}

.danger {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
}

.danger:hover {
    background-color: #c82333;
}

.danger:active {
    background-color: #bd2130;
}
.container {
    display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
      
        width: 47%;
        margin-left: 550px;
        margin-top: 87px
}

.form {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}


.form-control {
    width: calc(100% - 28px);
        margin-bottom: 15px;
        padding: 14px 0px 0px;
        border-radius: 5px;
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form-title {
  
            font-size: 24px;
            margin-bottom: 44px;
            text-align: center;
        
}

.form-item {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

